In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
olympics = pd.read_csv("medals.csv")

In [3]:
olympics.shape

(21697, 12)

In [4]:
olympics.head()

,discipline_title,slug_game,event_title,event_gender,medal_type,participant_type,participant_title,athlete_url,athlete_full_name,country_name,country_code,country_3_letter_code
0,Curling,beijing-2022,Mixed Doubles,Mixed,GOLD,GameTeam,Italy,https://olympics.com/en/athletes/stefania-cons...,Stefania CONSTANTINI,Italy,IT,ITA
1,Curling,beijing-2022,Mixed Doubles,Mixed,GOLD,GameTeam,Italy,https://olympics.com/en/athletes/amos-mosaner,Amos MOSANER,Italy,IT,ITA
2,Curling,beijing-2022,Mixed Doubles,Mixed,SILVER,GameTeam,Norway,https://olympics.com/en/athletes/kristin-skaslien,Kristin SKASLIEN,Norway,NO,NOR
3,Curling,beijing-2022,Mixed Doubles,Mixed,SILVER,GameTeam,Norway,https://olympics.com/en/athletes/magnus-nedreg...,Magnus NEDREGOTTEN,Norway,NO,NOR
4,Curling,beijing-2022,Mixed Doubles,Mixed,BRONZE,GameTeam,Sweden,https://olympics.com/en/athletes/almida-de-val,Almida DE VAL,Sweden,SE,SWE

In [5]:
olympics.nunique()

discipline_title            86
slug_game                   53
event_title               1436
event_gender                 4
medal_type                   3
participant_type             2
participant_title          493
athlete_url              12116
athlete_full_name        12895
country_name               154
country_code               143
country_3_letter_code      154
dtype: int64

In [6]:
olympics.participant_type.unique()

array(['GameTeam', 'Athlete'], dtype=object)

In [7]:
olympics.event_gender.unique()

array(['Mixed', 'Women', 'Men', 'Open'], dtype=object)

In [8]:
olympics.discipline_title.unique()

array(['Curling', 'Freestyle Skiing', 'Short Track Speed Skating',
       'Snowboard', 'Ski Jumping', 'Figure skating', 'Luge', 'Ice Hockey',
       'Biathlon', 'Alpine Skiing', 'Skeleton', 'Cross Country Skiing',
       'Speed skating', 'Nordic Combined', 'Bobsleigh', 'Shooting',
       'Diving', 'Canoe Sprint', 'Cycling Road', 'Football', 'Boxing',
       'Artistic Swimming', 'Handball', 'Rugby Sevens',
       'Cycling BMX Racing', 'Triathlon', 'Surfing', 'Table Tennis',
       'Canoe Slalom', 'Marathon Swimming', 'Trampoline Gymnastics',
       'Volleyball', 'Basketball', 'Taekwondo', 'Cycling Track',
       'Fencing', 'Badminton', 'Water Polo', 'Sport Climbing',
       'Wrestling', 'Tennis', 'Artistic Gymnastics', 'Golf',
       'Cycling BMX Freestyle', 'Judo', 'Skateboarding', 'Archery',
       'Weightlifting', 'Baseball/Softball', 'Equestrian',
       'Modern Pentathlon', 'Athletics', 'Swimming', 'Sailing',
       'Cycling Mountain Bike', 'Rowing', 'Karate', '3x3 Basketball',
       'Rhythmic Gymnastics', 'Hockey', 'Beach Volleyball', 'Short Track',
       'Cycling BMX', 'Rugby', 'Gymnastics Rhythmic',
       'Equestrian Jumping', 'Gymnastics Artistic',
       'Synchronized Swimming', 'Trampoline', 'Equestrian Eventing',
       'Equestrian Dressage', 'Baseball', 'Softball', 'Canoe Marathon',
       'Polo', 'Military Patrol', 'Tug of War', 'Equestrian  Vaulting',
       'Jeu de Paume', 'Water Motorsports', 'Lacrosse', 'Rackets',
       'Roque', 'Cricket', 'Croquet', 'Basque Pelota'], dtype=object)

In [25]:
by_country_medals = olympics.groupby(['country_name', 'medal_type'])[['medal_type']].count()

In [17]:
olympics.shape

(21697, 12)

In [27]:
print(by_country_medals.to_string())

                                                  medal_type
country_name                          medal_type
Afghanistan                           BRONZE               2
Algeria                               BRONZE               8
                                      GOLD                 5
                                      SILVER               4
Argentina                             BRONZE              37
                                      GOLD                24
                                      SILVER              26
Armenia                               BRONZE               8
                                      GOLD                 2
                                      SILVER               8
Australasia                           BRONZE               5
                                      GOLD                 3
                                      SILVER               4
Australia                             BRONZE             241
                                      GOLD               190
                                      SILVER             196
Austria                               BRONZE             141
                                      GOLD                98
                                      SILVER             132
Azerbaijan                            BRONZE              29
                                      GOLD                 7
                                      SILVER              14
Bahamas                               BRONZE               7
                                      GOLD                 9
                                      SILVER               2
Bahrain                               GOLD                 2
                                      SILVER               2
Barbados                              BRONZE               1
Belarus                               BRONZE              51
                                      GOLD                23
                                      SILVER              39
Belgium                               BRONZE              63
                                      GOLD                46
                                      SILVER              61
Bermuda                               BRONZE               1
                                      GOLD                 1
Bohemia                               BRONZE               3
                                      SILVER               1
Botswana                              BRONZE               1
                                      SILVER               1
Brazil                                BRONZE              83
                                      GOLD                46
                                      SILVER              51
Bulgaria                              BRONZE              91
                                      GOLD                57
                                      SILVER              92
Burkina Faso                          BRONZE               1
Burundi                               GOLD                 1
                                      SILVER               1
Cameroon                              BRONZE               2
                                      GOLD                 3
                                      SILVER               1
Canada                                BRONZE             243
                                      GOLD               163
                                      SILVER             196
Chile                                 BRONZE               4
                                      GOLD                 3
                                      SILVER               7
Chinese Taipei                        BRONZE              19
                                      GOLD                 8
                                      SILVER              11
Colombia                              BRONZE              16
                                      GOLD                 5
                                      SILVER              13
Costa Rica                            BRONZE               2
                                      GOLD                 1
                                      SILVER               1
Croatia                               BRONZE              17
                                      GOLD                22
                                      SILVER              21
Cuba                                  BRONZE              82
                                      GOLD                85
                                      SILVER              72
Cyprus                                SILVER               1
Czech Republic                        BRONZE              44
                                      GOLD                30
                                      SILVER              36
Czechoslovakia                        BRONZE              63
                                      GOLD                53
                                      SILVER              62
Côte d'Ivoire                         BRONZE               2
                                      GOLD                 1
                                      SILVER               1
Democratic People's Republic of Korea BRONZE              25
                                      GOLD                16
                                      SILVER              17
Denmark                               BRONZE              91
                                      GOLD                53
                                      SILVER              89
Djibouti                              BRONZE               1
Dominican Republic                    BRONZE               4
                                      GOLD                 3
                                      SILVER               5
Ecuador                               GOLD                 3
                                      SILVER               2
Egypt                                 BRONZE              18
                                      GOLD                 8
                                      SILVER              10
Eritrea                               BRONZE               1
Estonia                               BRONZE              20
                                      GOLD                14
                                      SILVER              12
Ethiopia                              BRONZE              22
                                      GOLD                23
                                      SILVER              12
Federal Republic of Germany           BRONZE             105
                                      GOLD                72
                                      SILVER              89
Fiji                                  BRONZE               1
                                      GOLD                 2
Finland                               BRONZE             188
                                      GOLD               148
                                      SILVER             154
France                                BRONZE             365
                                      GOLD               282
                                      SILVER             305
Gabon                                 SILVER               1
Georgia                               BRONZE              18
                                      GOLD                10
                                      SILVER              12
German Democratic Republic (Germany)  BRONZE             173
                                      GOLD               210
                                      SILVER             179
Germany                               BRONZE             383
                                      GOLD               385
                                      SILVER             399
Ghana                                 BRONZE               4
                                      SILVER               1
Great Britain                         BRONZE             350
                                      GOLD               332
                                      SILVER             363
Greece                                BRONZE              45
                                      GOLD                37
                                      SILVER              47
Grenada                               BRONZE               1
                                      GOLD                 1
                                      SILVER               1
Guatemala                             SILVER               1
Guyana                                BRONZE               1
Haiti                                 BRONZE               1
                                      SILVER               1
Hong Kong, China                      BRONZE               4
                                      GOLD                 2
                                      SILVER               4
Hungary                               BRONZE             201
                                      GOLD               192
                                      SILVER             166
Iceland                               BRONZE               2
                                      SILVER               2
Independent Olympic Athletes          BRONZE               3
                                      GOLD                 1
                                      SILVER               1
India                                 BRONZE              16
                                      GOLD                10
                                      SILVER               9
Indonesia                             BRONZE              17
                                      GOLD                13
                                      SILVER              17
Iraq                                  BRONZE               1
Ireland                               BRONZE              14
                                      GOLD                12
                                      SILVER              12
Islamic Republic of Iran              BRONZE              29
                                      GOLD                23
                                      SILVER              24
Israel                                BRONZE               9
                                      GOLD                 3
                                      SILVER               1
Italy                                 BRONZE             288
                                      GOLD               274
                                      SILVER             243
Jamaica                               BRONZE              24
                                      GOLD                26
                                      SILVER              36
Japan                                 BRONZE             216
                                      GOLD               188
                                      SILVER             183
Jordan                                BRONZE               1
                                      GOLD                 1
                                      SILVER               1
Kazakhstan                            BRONZE              39
                                      GOLD                16
                                      SILVER              25
Kenya                                 BRONZE              35
                                      GOLD                35
                                      SILVER              42
Kosovo                                GOLD                 3
Kuwait                                BRONZE               3
Kyrgyzstan                            BRONZE               4
                                      SILVER               3
Latvia                                BRONZE              16
                                      GOLD                 5
                                      SILVER              15
Lebanon                               BRONZE               2
                                      SILVER               2
Liechtenstein                         BRONZE               6
                                      GOLD                 2
                                      SILVER               2
Lithuania                             BRONZE              16
                                      GOLD                 6
                                      SILVER               8
Luxembourg                            GOLD                 2
                                      SILVER               3
MIX                                   BRONZE              11
                                      GOLD                12
                                      SILVER               8
Malaysia                              BRONZE               7
                                      SILVER              12
Mauritius                             BRONZE               1
Mexico                                BRONZE              38
                                      GOLD                13
                                      SILVER              26
Mongolia                              BRONZE              17
                                      GOLD                 2
                                      SILVER              11
Montenegro                            SILVER               1
Morocco                               BRONZE              12
                                      GOLD                 7
                                      SILVER               5
Mozambique                            BRONZE               1
                                      GOLD                 1
Namibia                               SILVER               5
Netherlands                           BRONZE             182
                                      GOLD               152
                                      SILVER             167
Netherlands Antilles                  SILVER               1
New Zealand                           BRONZE              58
                                      GOLD                69
                                      SILVER              46
Niger                                 BRONZE               1
                                      SILVER               1
Nigeria                               BRONZE              14
                                      GOLD                 3
                                      SILVER              10
North Macedonia                       BRONZE               1
                                      SILVER               1
Norway                                BRONZE             180
                                      GOLD               217
                                      SILVER             192
Olympic Athletes from Russia          BRONZE               9
                                      GOLD                 2
                                      SILVER               7
Pakistan                              BRONZE               4
                                      GOLD                 3
                                      SILVER               3
Panama                                BRONZE               2
                                      GOLD                 1
Paraguay                              SILVER               1
People's Republic of China            BRONZE             214
                                      GOLD               333
                                      SILVER             260
Peru                                  GOLD                 1
                                      SILVER               3
Philippines                           BRONZE               8
                                      GOLD                 1
                                      SILVER               5
Poland                                BRONZE             159
                                      GOLD                82
                                      SILVER             104
Portugal                              BRONZE              16
                                      GOLD                 5
                                      SILVER              12
Puerto Rico                           BRONZE               6
                                      GOLD                 2
                                      SILVER               2
Qatar                                 BRONZE               5
                                      GOLD                 2
                                      SILVER               2
ROC                                   BRONZE              44
                                      GOLD                29
                                      SILVER              46
Republic of Korea                     BRONZE             130
                                      GOLD               136
                                      SILVER             127
Republic of Moldova                   BRONZE               4
                                      SILVER               3
Romania                               BRONZE             129
                                      GOLD               106
                                      SILVER             106
Russian Federation                    BRONZE             202
                                      GOLD               214
                                      SILVER             183
Samoa                                 SILVER               1
San Marino                            BRONZE               2
                                      SILVER               2
Saudi Arabia                          BRONZE               2
                                      SILVER               2
Senegal                               SILVER               1
Serbia                                BRONZE              11
                                      GOLD                 6
                                      SILVER               8
Serbia and Montenegro                 BRONZE               3
                                      GOLD                 2
                                      SILVER               4
Singapore                             BRONZE               2
                                      GOLD                 1
                                      SILVER               2
Slovakia                              BRONZE              11
                                      GOLD                18
                                      SILVER              18
Slovenia                              BRONZE              25
                                      GOLD                13
                                      SILVER              18
South Africa                          BRONZE              30
                                      GOLD                28
                                      SILVER              37
Soviet Union                          BRONZE             366
                                      GOLD               510
                                      SILVER             396
Spain                                 BRONZE              57
                                      GOLD                63
                                      SILVER              86
Sri Lanka                             SILVER               2
Sudan                                 SILVER               1
Suriname                              BRONZE               1
                                      GOLD                 1
Sweden                                BRONZE             249
                                      GOLD               219
                                      SILVER             241
Switzerland                           BRONZE             141
                                      GOLD               123
                                      SILVER             138
Syrian Arab Republic                  BRONZE               2
                                      GOLD                 1
                                      SILVER               1
Tajikistan                            BRONZE               2